* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* İki bölgeyi eşit genişlikte yapar */
    height: 100%;
    opacity: 0;
    transition: opacity .4s linear;
    display: flex; /* Yatay hizalamayı sağlar */
}

.active {
    opacity: 1;
}

.inner {
    background-color: rgba(0, 0, 0, .8);
    color: #eee;
    padding: 20px;
    flex: 1;
}

.slide:nth-child(1) {
    background: url('../assets/slider1.png') no-repeat;
    background-size: contain;
}

.slide:nth-child(2) {
    background: url('../assets/slider2.jpg') no-repeat;
    background-size: contain;
}

.slide:nth-child(3) {
    background: url('../assets/slider3.jpg') no-repeat;
    background-size: contain;
}

.slide:nth-child(4) {
    background: url('../assets/slider4.jpg') no-repeat;
    background-size: contain;
}

.slide:nth-child(5) {
    background: url('../assets/slider5.jpg') no-repeat;
    background-size: contain;
}